<div>   
    <h1>Welcome to the Middle School Helper 2000!</h1>
    <p>Type the lines that you need to write as well as how many lines you need to write. The MiddleSchoolHelper2000 will then print out for you in a manner that will appear as if it was handwritten!</p>

    <h3>Instructions:</h3>
    <p>Step 1: Write your line in the text box.</p>
    <p>Step 2: Choose how many lines you need written. Choosing a large number of lines may require more time to process, depending on your internet connection.)</p>
    <p>Step 3: Copy and paste the ouput into Microsoft Worda and print it out!</p>
    <p>P.S. The program looks for periods (.), exclamation points (!), or question marks (?) in order to determine when to begin a new line. If you don't put any of those symbols, the result will just be one long line.
    </p>
    
    <br><br>

    <img src="images/MiddleSchoolHelper2000.jpg" alt="Foxtrot Comic">
    <p>The Inspiration</>
    <br>
    <hr>

            @Html.Raw(@ViewBag.CompletedString )    

    <hr>
    <form action="SubmitLines" method="POST">
    <label for="lines">Type your line here</label>
    <br>
    <textarea name="lines" id="lines" cols="30" rows="10" placeholder="Type your line into here (only once!)"></textarea>
    <br><br>

    <label for="numLines">How many lines?</label>
    <input type="number" step="1" name="numLines" id="numLines" placeholder="1">
    <br><br>

    <!-- <label for="font1">Font 1</label>
    <input type="checkbox" name="font1" id="font1" value="font1">
    <br>
    <label for="font2">Font 2</label>
    <input type="checkbox" name="font2" id="font2" value="font2">
    <br>
    <label for="font3">Font 3</label>
    <input type="checkbox" name="font3" id="font3" value="font3">
    <br>
    <label for="font4">Font 4</label>
    <input type="checkbox" name="font4" id="font4" value="font5">
    <br>
    <label for="font5">Font 5</label>
    <input type="checkbox" name="font5" id="font5" value="font5">
    <br> -->

    <button type="submit">Go Play!</button>

    </form>
</div>
